#ExperienceContainer{
    padding-bottom: 40px;
    background-image:radial-gradient(circle at 20px 20px, #9BA2FF59 1px, transparent 0);
    background-size: 40px 40px;
    padding-top: 40px;
    color:white;
}


.Job{
    color: white;
    text-align: left;
    box-sizing: border-box; 
    box-shadow: -8px 8px #9BA2FF;
    background-color:#121212;
  
    min-width: 520px;
    width:42vw;
    margin:2vw;
    border-radius: 10px; 
    margin:20px;
    padding:0px 20px 20px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
  
.Job h1{
    font-size: 30px;
    margin: 0px;
}

.Job h2{
    margin-bottom: 5px;
}

.Job h3{
    margin: 0px;
    font-style: italic;
    font-weight: 400;
    padding-bottom:5px;
    margin:0px;
    color:#d2d2d2;
}

.Job h4{
    color:#d2d2d2;
    margin:0px;
}

.jobHeader {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:0px;
    justify-content:space-between;
    width:100%;
}

.jobContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap ;
    flex-direction: row;
}

.Job .tagContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.jobTag{
    background-color: #b5b9f8;
    color: #0813ab;
    border-radius: 3px;
    padding:3px;
    margin: 4px;
    font-weight: 400;

}


@media (max-width: 768px) {

    .jobHeader {
        font-size: small;
        width: 90vw;
        flex-direction: column;
    }


    .jobContainer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap:wrap ;
        flex-direction: column;
        width: 95vw;
    }


    .Job{
        color: white;
        text-align: left;
        box-sizing: border-box; 
        box-shadow: -6px 6px #9BA2FF;
        background-color:#121212;
      
        max-width: 80vw;
        width:80vw;
        margin:2vw;
        border-radius: 10px; 
        margin:15px;
        padding:0px 4px 4px 4px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
    }

    .Job .tagContainer{
        width: 80vw;
    }

    .Job h3{
        margin: 0px;
        font-style: italic;
        font-weight: 400;
        padding-bottom:5px;
        margin:0px;
        color:#d2d2d2;
        font-size: smaller;
    }


    .Job ul{
        width: 80vw;
    }

}