#BioContainer{
    position:relative;
    height:280px;
    display:flex;
    flex-direction:row;
    overflow:hidden;
    background-color: #1E1E1E;
    /* margin-bottom: 20px; */
    background-image: radial-gradient(circle at 20px 0px, rgb(99, 99, 99) 1px, transparent 0);
    background-size: 40px 40px;
    padding-top: 40px;
}


.Bio-text{
    color:white; 
    margin: 0px;
}

h1.Bio-text {
    font-size: 80px;
}

h6.Bio-text{
    color:rgba(255, 255, 255, 0.885); 
    margin-left: 5px;
    font-size: 19px;
    /* font-weight: normal; */
    /* font-size:1em; */
    margin-top: -20px;
}

.Bio-link:visited{
    color:white;
}

.Bio-link:hover{
    color:lightblue;
}


.BioNav{
    position: absolute; /* Possibly Fixed */
    display: flex;
    top: 0px;
    right: 10px;
    /* z-index: 200; */

}

.BioNav a {
    color: white;
    text-decoration: none;
}


/* .dropdownContent {
    display: none;
    text-align: left;

}

.dropdown:hover {
    background-color: black;
  }


.dropdown:hover .dropdownContent {
    display: block;
} */

.BioNavItem{
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin:5px;
    color:white;
    border-radius: 3px;

    text-decoration: underline;

    text-decoration-thickness: 3px ;
}

.BioNavItem:hover{
    background-color:#454545;

}


#PopupThanks {
    width: 80vw;
    height: 70vh;
    background-color: #302d30;
    display: flex;
    justify-content: space-evenly;
    color: white;
    border-radius: 20px;
    box-shadow: -10px 10px #b420d1;
    align-items: center;

}

#PopupThanks a {
    color: #ce79ea;
}

#PopupThanks img {
    height: 100%;
}