#AboutContainer{
  padding-bottom: 40px;
  background-image:radial-gradient(circle at 20px 20px, #9BA2FF59 1px, transparent 0);
  background-size: 40px 40px;
  padding-top: 40px;
}


.ImageGridItem {
    /* background-color:#1E1E1E;
    box-shadow:-10px 10px #9BA2FF; */
    border-radius:10px;
    max-width: 100%;
    max-height: 100%; 
    margin:auto;
    /* object-fit:contain; */
}

.AboutInfo{
    background-color: #121212;
    border-radius: 10px;
    box-shadow: -10px 10px #9BA2FF;
    color: white;
    padding: 20px;


    margin-left: 20px;
    margin-right: 5%;
    width:100%; 
    height:fit-content;
    min-width: 200px;
    text-align: left;
    margin-bottom: 50px;
    /* font-family: "Roboto Condensed", sans-serif; */
    /* font-optical-sizing: auto; */
    max-width: 50%;

  }

  .AboutInfo h1{

    /* font-size:100px; */
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: bold;
  }

  .AboutInfo h4{
    margin: 10px;
    font-size: 30px;
    /* font-weight: 300; */
  }
  
  .AboutInfo li{
    margin: 10px;
    font-size: 20px;
    /* font-weight: 300; */
  }
  .About-item{
    margin: 10px;
    margin-bottom: 15px;
  }
  
  .About-item2{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
  }
  
  
