#EducationContainer {
  padding-bottom: 40px;
  background-image:radial-gradient(circle at 20px 20px, #fdf91859 1px, transparent 0);
  background-size: 40px 40px;
  /* padding-top: 40px; */
  color:white;
}

#EducationContainer ul {
  margin: 5px;
}

.subsectionTitle {
text-align:center;
text-decoration:underline;
text-decoration-color:#fdf918;
margin-bottom: 5px;
}

.courseGrade {
  color: rgb(253, 255, 185); /* Style for mobile devices */
  font-weight: bold;
  align-self:center;
  text-align: left; 
}

.courseGradeContainer{
  display:grid;
  grid-template-columns:90% 10%;
  row-gap:4px;
}


.achievementContainer {
  width:230px;
  height:230px;
  background-color:#121212;
  border-radius:20px;
  text-align:center;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  color: #cccccc;
  margin: 10px 0px 10px 0px;
}

.achievementContainer h3 {
  margin-top: 0px;
  color: white;
}


@media (max-width: 768px) {
  .courseTitle{
    font-size: small;
  }

  .courseGradeContainer{
    display:grid;
    grid-template-columns:90% 10%;
    row-gap:4px;
    column-gap: 10px;;
  }
}