body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #F4F4F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior:none;

  scrollbar-color: #fa4f63 #1e1e1e;
  scrollbar-width:auto;
}


body:has(.requires-no-scroll) {
  overflow: hidden;
}



.sectionTitle {
  display:flex;
  width:100%;
  text-align:center;
  color:white;
  position:relative;
  height:fit-content;
  justify-content:center;
  margin-top:20px;
  margin-bottom:20px;
}

.sectionTitle div{
  position:absolute;
  top:18px;
  width:88vw;
  height:10px;
  border-radius:5px;
  z-index:1;
}

.sectionTitle h1{
  position:relative;
  margin:0px;
  padding:0px;
  z-index:2;
  background-color:#1e1e1e;
  width:fit-content;
  padding-left:2vw;
  padding-right:2vw;
}


.subtitleHeader {
  text-align:right;
  padding:0px 20px 0px 20px;
  border-radius:0px 50px 50px 0px;
  min-width:fit-content;
  width:30vw;
  background-color:#121212;
}


@media (max-width: 768px) {

  .subtitleHeader h1{
    font-size:x-large;
  }
}
