.Paper{
  min-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width:42vw;
  margin:2vw;
  justify-content: center;
  align-items: center;
}

.PaperInfo{
  
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  /* width: 40%; */

}

.PaperInfo h1{
  font-weight: 400;
  font-size: 22px;
  margin: 5px;
}

.PaperInfo h4{
  font-weight: 350;
  font-size: 16px;
  margin: 10px;

}

.PaperInfo a{
  color: #308BF6;
}

.PaperInfo button{
  color: white;
  background-color: #1e1e1e;
  border: none;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: -4px 4px #EE4266;
}


.PaperImg {

  border-radius: 10px;
  border:1px solid #EE4266;
  box-shadow:-10px 10px #EE4266;

  height: 150px; 
}