
.Paper{
    align-items:center;
    text-align:center;
    display:flex;
    flex-direction:column;
    width:30vw;
    height:100%;
    border-radius:10px;
    padding:10px;
    margin:auto;
    margin-top: 0px;
  }
  
  .Paper-text {
    margin-top: 10px;
    background-color: #1E1E1E;
    color: white;
    border-radius: 10px;
    box-shadow: -15px 15px #EE4266;
    text-align: left;
    width:100%
  }


  @keyframes showText{
    0%{
        opacity:0;
    }
    20% {
      opacity:0;
    }
    60% {
      opacity: 1;
    }
  }

  @keyframes hideText{
    0%{
        opacity: 0;
    }
    100% {
      opacity: 0;
    }

  }

  .Paper:hover .Paper-Img{
    transition: 2s ease;
    width: 10vw
  }
  
  .Paper:not(:hover) .Paper-Img{
    transition: 2s ease;
    width: 20vw
  }
  
  .Paper:hover .Paper-text{
    animation: showText 4s ease-in forwards;
  }

  .Paper:not(:hover) .Paper-text{
    animation: hideText 4s ease-out forwards;
  }
  
  .Paper:hover .Paper-title{
    animation: showText 4s ease-in forwards;
  }

  .Paper:not(:hover) .Paper-title{
    animation: hideText 4s ease-out forwards;
  }