
.Paper{
    align-items:center;
    text-align:center;
    display:flex;
    flex-direction:column;
    width:30vw;
    height:100%;
    border-radius:10px;
    padding:10px;
    margin:auto;
    margin-top: 0px;
  }
  

  @keyframes showText{
    0%{
        opacity:0;
    }
    10% {
      opacity:0;
    }
    60% {
      opacity: 1;
    }
  }

  @keyframes hideText{
    0%{
        opacity: 0;
    }
    100% {
      opacity: 0;
    }

  }

  .Paper:hover .Paper-Img{
    transition: 2s ease;
    width: 10vw
  }
  
  .Paper:not(:hover) .Paper-Img{
    transition: 2s ease;
    width: 20vw
  }
  
  .Paper:hover .Paper-text{
    animation: showText 3s ease-in forwards;
  }

  .Paper:not(:hover) .Paper-text{
    animation: hideText 3s ease-out forwards;
  }
  
