#ProjectContainer {
    padding-bottom: 40px;
    background-image:radial-gradient(circle at 20px 20px, #d59aea59 1px, transparent 0);
    background-size: 40px 40px;
    padding-top: 0px;
    color:white;
}

.bannerIcon {
    width:200px;
    min-width:200px;
    height:100px;
    background-color:#E1E1E1;
    border-radius:10px;
    margin:10px;
    border: #1E1E1E solid 2px;
}

#bannerIconContainer {
    /* animation: slidein 3s linear forwards;
    animation-iteration-count: infinite; */
    /* animation-delay: 2s; */
}

@keyframes slidein {
    from {
      transform: translateX(200px);
    }
  
    to {
      transform: translateX(0px);
    }
  }
  

.bannerIcon:hover[style] {
    opacity: 0.9 !important;
    /* border: 2px solid black; */
}

.githubMark {
    height:35px;
    margin-left: 10px;
    border-radius:50px;
    background-color: white;
    border: 2px solid white;
}

.githubMark:hover {
    background-color: rgb(254, 233, 255);
}

.infoVideo {
    background-color: #121212;
    color: white;
    border-radius: 10px;
    box-shadow: -15px 15px #BB4BE4;
}

.infoContainer {
    max-width: 45vw;
    width: 45vw;
    padding: 30px;
    padding-right: 0px;
    margin: 10px;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-weight: 300;

    position: relative;
}

.infoContainer li {
    list-style-position: inside;
    padding-top: 10px;
    font-size: 16px;
    font-weight:400;
}

.infoContainer p {
    font-weight: 400;
    font-style: italic;
    
    font-size: 21px;
    margin: 5px;
}



.infoContainer h1 {
    font-weight: bold;
    font-style: normal;
    margin: 0px;
    font-size: 40px;

}

.infoContainer a {
    color: #d893f1;
}

.infoContainer a:hover {
    color: #bb57e0;
}

.tag{
    background-color: #e7c3f6;
    color: #9011be;
    border-radius: 3px;
    padding:3px;
    margin: 4px;
    font-weight: 400;

}